@import "./helper.scss";

$header-height: 48px;

html {
  font-size: 16px;
  color: $color-primary-text;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  font-family: $font-hei;

  .chat-header__menu {
    position: relative;
    width: 48px;
    height: 48px;
    background-image: url("../images/menu.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    .chat-header__menu__h1 {
      display: none;
    }

    .chat-header__menu__nav {
      position: absolute;
      top: $header-height;
      left: 8px;
      padding: 16px 8px;
      padding-bottom: 0;
      display: none;
      width: 260px;
      height: 240px;
      font-size: 14px;
      border-radius: 4px;
      background-color: $color-basic-black;

      &.visible {
        display: block;
      }

      &::before {
        position: absolute;
        top: -16px;
        left: 8px;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom: 8px solid $color-basic-black;
        content: "";
      }

      .chat-header__menu__nav__list {
        max-height: 160px;
        overflow: auto;
        border-bottom: 1px solid $color-level-1-border;

        .list-item {
          position: relative;
          padding-left: 36px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 4px;
          cursor: default;

          &:hover {
            background-color: #343540;
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 8px;
            display: block;
            width: 24px;
            height: 24px;
            background-image: url("../images/chat-plain.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            content: "";
            transform: translateY(-50%);
          }

          &.active {
            background-color: #343540;

            .list-item__button-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .button-wrapper__download {
                width: 24px;
                height: 24px;
                background-image: url("../images/download.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
              }

              .button-wrapper__delete {
                width: 24px;
                height: 24px;
                background-image: url("../images/delete.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
              }
            }
          }

          .list-item__text {
            display: -webkit-box;
            width: 120px;
            overflow: hidden;
            line-height: 40px;
            color: $color-basic-white;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }

  .chat-header__new-chat {
    width: 48px;
    height: 48px;
    background-image: url("../images/add.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.chat-main {
  display: flex;
  justify-content: space-between;
  height: calc(var(--vh, 1vh) * 100 - $header-height);

  .chat-main__aside {
    display: none;
  }

  .chat-main__main {
    display: flex;
    flex-direction: column;
    flex: 1;

    .chat-main__main__article {
      flex: 1;
      overflow: auto;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      .article__section {
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        background-color: #f7f7f8;

        &.user {
          border: none;
          background-color: $color-basic-white;

          .section__content-wrapper {
            .content-wrapper__profile {
              background-image: url("../images/profile-plain.png");
            }
          }
        }

        .section__content-wrapper {
          display: flex;
          width: 90%;

          .content-wrapper__profile {
            margin-right: 16px;
            width: 32px;
            min-width: 32px;
            height: 32px;
            background-image: url("../images/profile-chat.png");
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
          }

          .content-wrapper__content {
            padding: 4px 0;
            white-space: pre-wrap;

            .content__code {
              margin: 8px 0;
              padding: 8px;
              color: $color-basic-white;
              white-space: pre-wrap;
              border-radius: 4px;
              background-color: #333;
            }
          }
        }
      }
    }

    .chat-main__main__form {
      padding: 16px;
      padding-bottom: 24px;

      .chat-main__main__form__question {
        position: relative;
        margin: 0 auto;
        width: 90%;

        &::after {
          position: absolute;
          top: 8px;
          right: 8px;
          display: block;
          width: 32px;
          height: 32px;
          background-image: url("../images/send.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: "";
        }

        .chat-main__main__form__question__textarea {
          padding: 8px 56px 8px 8px;
          width: 100%;
          border-radius: 8px;
          border: 1px solid #e5e5e5;
          -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          outline: none;
          resize: none;
        }
      }
    }
  }
}
