@import "./helper.scss";

$header-height: 0px;
$color-basic-white: #ffffff;
$color-basic-black: #202123;
$color-primary: #4a76da;
$color-primary-activated: #3863c6;
$color-primary-light: #bdcce9;
$color-level-1-border: #4f4f4f;
$color-primary-text: #4f4f4f;

html {
  font-size: 16px;
  color: $color-primary-text;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  font-family: $font-hei;

  .header__anchor {
    height: 100%;

    .h1 {
      display: none;
    }

    .anchor__logo-name {
      height: 100%;
    }
  }

  .header__user {
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-basic-white;
    background-image: url("../images/user.svg");
    background-position: 42px;
    background-size: 16px;
    background-repeat: no-repeat;

    .user__menu {
      padding: 0 8px;
      cursor: pointer;
      visibility: hidden;
    }

    .user__sign-in {
      padding: 0 8px;
      cursor: pointer;
    }

    .user__login {
      padding: 0 8px;
      cursor: pointer;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  height: calc(var(--vh, 1vh) * 100 - $header-height);

  .main__aside {
    padding: 16px 8px;
    padding-bottom: 0;
    width: 260px;
    font-size: 14px;
    background-color: $color-basic-black;

    .aside__new-chat-button {
      position: relative;
      padding: 14px 0;
      padding-left: 40px;
      color: $color-basic-white;
      border: 1px solid $color-level-1-border;
      border-radius: 4px;
      cursor: pointer;

      &::before {
        position: absolute;
        top: 50%;
        left: 16px;
        display: block;
        width: 10px;
        height: 2px;
        background-color: $color-basic-white;
        content: "";
        transform: translateY(-50%);
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 20px;
        display: block;
        width: 2px;
        height: 10px;
        background-color: $color-basic-white;
        content: "";
        transform: translateY(-50%);
      }
    }

    .aside__list {
      margin-top: 16px;
      height: calc(var(--vh) * 100 - 280px);
      overflow: auto;
      border-bottom: 1px solid $color-level-1-border;

      .list-item {
        position: relative;
        padding-left: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        cursor: default;

        &:hover {
          background-color: #343540;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 8px;
          display: block;
          width: 24px;
          height: 24px;
          background-image: url("../images/chat-plain.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: "";
          transform: translateY(-50%);
        }

        &.active {
          background-color: #343540;

          .list-item__button-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button-wrapper__download {
              width: 24px;
              height: 24px;
              background-image: url("../images/download.png");
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              cursor: pointer;
            }

            .button-wrapper__delete {
              width: 24px;
              height: 24px;
              background-image: url("../images/delete.png");
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              cursor: pointer;
            }
          }
        }

        .list-item__text {
          display: -webkit-box;
          width: 120px;
          overflow: hidden;
          line-height: 40px;
          color: $color-basic-white;
          text-overflow: ellipsis;
          word-break: break-all;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .main__main {
    display: flex;
    flex-direction: column;
    flex: 1;

    .main__article {
      flex: 1;
      overflow: auto;

      .article__section {
        padding: 24px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        background-color: #f7f7f8;

        &.user {
          border: none;
          background-color: $color-basic-white;

          .section__content-wrapper {
            .content-wrapper__profile {
              background-image: url("../images/profile-plain.png");
            }
          }
        }

        .section__content-wrapper {
          display: flex;
          width: 60%;

          .content-wrapper__profile {
            margin-right: 16px;
            width: 32px;
            min-width: 32px;
            height: 32px;
            background-image: url("../images/profile-chat.png");
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
          }

          .content-wrapper__content {
            padding: 4px 0;
            white-space: pre-wrap;

            .content__code {
              margin: 8px 0;
              padding: 8px;
              color: $color-basic-white;
              white-space: pre-wrap;
              border-radius: 4px;
              background-color: #333;
            }
          }
        }
      }
    }

    .main__form {
      padding: 16px;
      height: 160px;
      min-height: 160px;

      .form__question {
        position: relative;
        margin: 0 auto;
        width: 80%;
        min-width: 320px;

        &::before {
          position: absolute;
          top: 8px;
          left: 16px;
          display: block;
          width: 16px;
          height: 16px;
          background-image: url("../images/pencil.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: "";
        }

        .question__textarea {
          padding: 8px;
          padding-left: 36px;
          padding-right: 64px;
          width: 100%;
          border-radius: 8px;
          border-color: $color-basic-white;
          border-style: solid;
          -webkit-box-shadow: 0px 6px 20px -4px rgba(74, 118, 218, 0.8);
          -moz-box-shadow: 0px 6px 20px -4px rgba(74, 118, 218, 0.8);
          box-shadow: 0px 6px 20px -4px rgba(74, 118, 218, 0.8);
          outline: none;
          resize: none;
          transition: ease border-color 0.3s;

          &:focus {
            border-color: $color-primary;
          }
        }

        .question__submit-button {
          position: absolute;
          bottom: 8px;
          right: 8px;
          width: 60px;
          height: 40px;
          color: $color-basic-white;
          border-radius: 4px;
          background-color: $color-primary;
          -webkit-box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
          -moz-box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
          box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
          cursor: pointer;
          transition: ease background-color 0.3s;

          &:hover {
            background-color: $color-primary-activated;
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 16px;
            height: 16px;
            background-image: url("../images/right-arrow.svg");
            background-position: center;
            background-size: 150%;
            background-repeat: no-repeat;
            content: "";
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
