@import "./helper.scss";

$header-height: 48px;
$color-basic-white: #fff;
$color-primary: #4a76da;
$color-primary-activated: #3863c6;
$color-primary-light: #bdcce9;
$color-level-1-border: #dcdfe6;
$color-primary-text: #303133;

html {
  font-size: small;
  background-color: #ecf5fe;
  color: $color-primary-text;
}

.header {
  padding: 4px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  height: $header-height;
  font-family: $font-hei;
  background-image: url("../images/background-header.png");
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2556;

  .header__anchor {
    height: 100%;

    .h1 {
      display: none;
    }

    .anchor__logo-name {
      height: 100%;
    }
  }

  .header__user {
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-basic-white;
    background-image: url("../images/user.svg");
    background-position: left;
    background-size: 16px;
    background-repeat: no-repeat;

    .user__sign-in {
      padding: 0 8px;
      cursor: pointer;
    }

    .user__login {
      padding: 0 8px;
      cursor: pointer;

      &:nth-child(2) {
        border-left: 1px solid $color-basic-white;
      }
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
  height: calc(100vh - $header-height);
  background-image: url("../images/background-main.png");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;

  .main__aside {
    padding: 16px 32px;
    padding-bottom: 0;
    width: 300px;
    min-width: 300px;

    .aside__form {
      .form__new-chat-button {
        position: relative;
        margin: 32px 0;
        margin-bottom: 48px;
        padding: 8px 0;
        text-align: center;
        color: $color-basic-white;
        border-radius: 8px;
        background-color: $color-primary;
        -webkit-box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
        cursor: pointer;
        transition: ease background-color 0.3s;

        &:hover {
          background-color: $color-primary-activated;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 80px;
          display: block;
          width: 10px;
          height: 2px;
          background-color: $color-basic-white;
          content: "";
          transform: translateY(-50%);
        }

        &::after {
          position: absolute;
          top: 50%;
          left: 84px;
          display: block;
          width: 2px;
          height: 10px;
          background-color: $color-basic-white;
          content: "";
          transform: translateY(-50%);
        }
      }

      .form__query-history {
        position: relative;

        &::before {
          position: absolute;
          top: 50%;
          left: 16px;
          display: block;
          width: 16px;
          height: 16px;
          background-image: url("../images/search.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: "";
          transform: translateY(-50%);
        }
      }

      .query-history__input {
        padding: 8px;
        padding-left: 36px;
        width: 100%;
        border-radius: 8px;
        border-color: $color-basic-white;
        border-style: solid;
        background-color: rgba(255, 255, 255, 0.4);
        outline: none;
        transition: ease border-color 0.3s;

        &:focus {
          border-color: $color-primary;
        }
      }
    }

    .aside__list {
      margin-top: 32px;
      height: calc(100vh - 300px);
      overflow: auto;

      .list-item {
        position: relative;
        padding-left: 24px;
        display: -webkit-box;
        overflow: hidden;
        height: 48px;
        line-height: 48px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        border-radius: 4px;
        border-bottom: 1px solid $color-level-1-border;
        cursor: pointer;

        &:hover {
          background-color: rgba(82, 119, 211, 0.2);
        }

        &::before {
          position: absolute;
          top: 26px;
          left: 4px;
          display: block;
          width: 16px;
          height: 16px;
          background-image: url("../images/chat.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: "";
          transform: translateY(-50%);
        }
      }
    }
  }

  .main__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .main__article {
      padding: 48px 16px;
      flex-grow: 1;
      overflow: auto;

      .article__section {
        margin: 0 auto;
        margin-bottom: 32px;
        width: 80%;
        min-width: 320px;
        display: flex;
        justify-content: space-between;

        &.user {
          .section__profile {
            background: $color-primary-light;

            &::before {
              background-image: url("../images/profile.svg");
            }
          }

          .section__content {
            padding: 8px;
            color: $color-primary;
            box-shadow: none;
            background-color: transparent;
            background-image: none;
          }
        }

        .section__profile {
          position: relative;
          margin-right: 8px;
          width: 32px;
          min-width: 32px;
          height: 32px;
          border-radius: 50%;
          background: rgb(63, 94, 251);
          background: linear-gradient(
            0deg,
            rgba(63, 94, 251, 1) 30%,
            rgba(252, 70, 70, 1) 100%
          );

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 32px;
            height: 32px;
            background-image: url("../images/logo.svg");
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            content: "";
            transform: translate(-50%, -50%);
          }
        }

        .section__content {
          position: relative;
          width: 100%;
          line-height: 1.8em;
          border-radius: 8px;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          background-color: $color-basic-white;
          background-image: url("../images/background-content.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .content__text {
            margin: 16px 24px;
            overflow: hidden;
            word-wrap: break-word;
            white-space: pre-wrap;

            &.more {
              margin-bottom: 48px;
              max-height: 240px;

              &.expanded {
                max-height: none;
              }
            }
          }

          .content__more-button {
            position: absolute;
            bottom: 16px;
            right: 32px;
            color: $color-primary;
            cursor: pointer;

            &.expanded {
              &::before {
                transform: translate(-50%, -50%) rotate(180deg);
              }
            }

            &::before {
              position: absolute;
              top: 50%;
              left: -10px;
              width: 14px;
              height: 14px;
              background-image: url("../images/expansion.svg");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              content: "";
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }

    .main__form {
      padding: 16px;
      height: 160px;
      min-height: 160px;

      .form__question {
        position: relative;
        margin: 0 auto;
        width: 80%;
        min-width: 320px;

        &::before {
          position: absolute;
          top: 8px;
          left: 16px;
          display: block;
          width: 16px;
          height: 16px;
          background-image: url("../images/pencil.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: "";
        }

        .question__textarea {
          padding: 8px;
          padding-left: 36px;
          padding-right: 64px;
          width: 100%;
          border-radius: 8px;
          border-color: $color-basic-white;
          border-style: solid;
          -webkit-box-shadow: 0px 6px 20px -4px rgba(74, 118, 218, 0.8);
          -moz-box-shadow: 0px 6px 20px -4px rgba(74, 118, 218, 0.8);
          box-shadow: 0px 6px 20px -4px rgba(74, 118, 218, 0.8);
          outline: none;
          resize: none;
          transition: ease border-color 0.3s;

          &:focus {
            border-color: $color-primary;
          }
        }

        .question__submit-button {
          position: absolute;
          bottom: 8px;
          right: 8px;
          width: 60px;
          height: 40px;
          color: $color-basic-white;
          border-radius: 4px;
          background-color: $color-primary;
          -webkit-box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
          -moz-box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
          box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 1);
          cursor: pointer;
          transition: ease background-color 0.3s;

          &:hover {
            background-color: $color-primary-activated;
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 16px;
            height: 16px;
            background-image: url("../images/right-arrow.svg");
            background-position: center;
            background-size: 150%;
            background-repeat: no-repeat;
            content: "";
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
