@import "./helper.css";

@media screen and (min-width: 500px) {
  :root {
    --header-height: 0px;
  }

  .chat-header {
    height: var(--header-height);
    display: none;
  }

  .chat-header .chat-header__menu .chat-header__menu__nav {
    display: none;
  }

  .chat-main {
    height: calc(var(--vh, 1vh) * 100 - var(--header-height));
  }

  .chat-main .chat-main__aside {
    padding: 16px 8px;
    padding-bottom: 0;
    display: block;
    width: 260px;
    font-size: 14px;
    background-color: var(--color-basic-black);
  }

  .chat-main .chat-main__aside .chat-main__aside__new-chat {
    position: relative;
    padding: 14px 0;
    padding-left: 40px;
    color: var(--color-basic-white);
    border: 1px solid var(--color-level-1-border);
    border-radius: 4px;
    cursor: pointer;
  }
  .chat-main .chat-main__aside .chat-main__aside__new-chat::before {
    position: absolute;
    top: 50%;
    left: 16px;
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--color-basic-white);
    content: "";
    transform: translateY(-50%);
  }
  .chat-main .chat-main__aside .chat-main__aside__new-chat::after {
    position: absolute;
    top: 50%;
    left: 20px;
    display: block;
    width: 2px;
    height: 10px;
    background-color: var(--color-basic-white);
    content: "";
    transform: translateY(-50%);
  }

  .chat-main .chat-main__aside .chat-main__aside__list {
    margin-top: 16px;
    height: calc(var(--vh) * 100 - 280px);
    overflow: auto;
    border-bottom: 1px solid var(--color-level-1-border);
  }

  .chat-main .chat-main__aside .chat-main__aside__list .list-item {
    position: relative;
    padding-left: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    cursor: default;
  }
  .chat-main .chat-main__aside .chat-main__aside__list .list-item:hover {
    background-color: #343540;
  }
  .chat-main .chat-main__aside .chat-main__aside__list .list-item::before {
    position: absolute;
    top: 50%;
    left: 8px;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../images/chat-plain.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    transform: translateY(-50%);
  }
  .chat-main .chat-main__aside .chat-main__aside__list .list-item.active {
    background-color: #343540;
  }

  .chat-main
    .chat-main__aside
    .chat-main__aside__list
    .list-item.active
    .list-item__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chat-main
    .chat-main__aside
    .chat-main__aside__list
    .list-item.active
    .list-item__button-wrapper
    .button-wrapper__download {
    width: 24px;
    height: 24px;
    background-image: url("../images/download.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .chat-main
    .chat-main__aside
    .chat-main__aside__list
    .list-item.active
    .list-item__button-wrapper
    .button-wrapper__delete {
    width: 24px;
    height: 24px;
    background-image: url("../images/delete.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .chat-main
    .chat-main__aside
    .chat-main__aside__list
    .list-item
    .list-item__text {
    display: -webkit-box;
    width: 120px;
    overflow: hidden;
    line-height: 40px;
    color: var(--color-basic-white);
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .chat-main .chat-main__main .chat-main__main__article {
    border: none;
  }

  .chat-main .chat-main__main .chat-main__main__article .article__section {
    padding: 24px 0;
  }

  .chat-main
    .chat-main__main
    .chat-main__main__article
    .article__section
    .section__content-wrapper {
    width: 60%;
  }

  .chat-main
    .chat-main__main
    .chat-main__main__form
    .chat-main__main__form__question {
    width: 60%;
  }
}
